<h1>
    Add Posts
</h1>
<div id="addPost">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field">
                    <input type="search" name="title" [(ngModel)]="title" placeholder="Title">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-field">
                    <h3>Tell us about your item</h3>
                    <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="false"></ck-editor>

                </div>
            </div>
            <input type="submit" value="Post" class="btn" (click)="Addpost()" [disabled]="onOff">
        </form>
    </div>
</div>